*{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */

}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 200vh;
    scrollbar-width: none;
    overflow-x: hidden;
    background: deepskyblue;

}
body::-webkit-scrollbar{
    display: none;
}

section{
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100vh;
    z-index: 1000;
    pointer-events: none;
}

section .side{
    position: absolute;
    background-image:url("https://cdn.pixabay.com/photo/2018/10/13/03/58/robot-3743431_960_720.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
    top: 0;
    left: 0;
    width:100%;
    height:100%; 
}

section .side#side1{
    clip-path: polygon(0 0, 100% 0%, 46% 54%, 0% 100%);
}

section .side#side2{
    clip-path: polygon(47% 50%, 100% 0%, 100% 100%, 0% 100%);
}

.content-page{
    position: relative;
    padding: 100px;
    padding-top: 150vh;
    height: 550px;
}